head{
    background-color: #E3CDA4;
}
body{
    background-color: #E3CDA4;
}
h1{
    background-color: #E3CDA4;
    color: #703030;
    font-family: "elfreth-variable", sans-serif;
    font-variation-settings: "wght" 400;
    font-size: 150px;
    text-decoration-line: overline underline;
    
}

.newspaper1 {
    columns: 100px 3;
    background-color: #E3CDA4;
    color: #703030;
  }
  
  .newspaper2 {
    columns: 50px 4;
    background-color: #E3CDA4;
    color: #703030;
  }